<%layout("/layouts/boilerplate.ejs")%>
<body>
  <%for(let listings of allListings){%>
  <u>
    <li>
      <a href="/listings/<%=listings._id%>">Title : <%=listings.title%></a>
    </li>
    <%}%>
  </u>
</body>
