.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe423d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
/*?footer style*/
u {
  text-decoration: none;
}
a {
  text-decoration: underline blue;
}
.f-info-links a {
  text-decoration: none;
}

.f-info {
  display: flex;
  height: 7rem;
  background-color: rgb(226, 221, 221);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.f-info-links,
.f-infosocial,
.mig {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-infosocial i {
  margin-left: 1rem;
  font-size: 1.25rem;
}
