body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
.navbar {
  min-height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe423d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}
/*?footer style*/
u {
  text-decoration: none;
}
.f-info-links a {
  text-decoration: none;
}

.f-info {
  display: flex;
  height: 7rem;
  background-color: rgb(226, 221, 221);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.f-info-links,
.f-infosocial,
.mig {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-infosocial i {
  margin-left: 1rem;
  font-size: 1.25rem;
}
/* Cards */
.card-body {
  padding: 0;
}
.listing-card {
  border: none;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem;
  width: 100% !important;
  object-fit: cover !important;
}
.card-text {
  font-weight: 600;
}
.listing-Link {
  text-decoration: none;
  color: black;
}
/* Card effect  */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
/* new.ejs page  */
.add-btn {
  background-color: #fe423d;
  border: none;
  box-shadow: 0 0 4px black;
}
/* edit page  */
.edit-btn {
  background-color: #fe423d;
  border: none;
  box-shadow: 0 0 4px black;
}

/* show page  */
.show-image {
  height: 40vh;
}
.btns {
  display: flex;
}
.edit-btn {
  background-color: #fe423d;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}
