* {
  padding: 0;
  margin: 0;
}
header {
  background-color: #121212;
  height: 5vh;
  text-align: center;
  align-content: center;
}
main {
  height: 85vh;
  display: flex;
  position: relative;
}
.game {
  width: 50%;
  height: 100%;
  border: 3px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.game1 {
  background-color: chocolate;
  width: 34%;
  height: 47%;
  justify-content: space-around;
  border: none;
  border-radius: 1rem;
}
.start_menu {
  position: absolute;
  height: 70%;
  width: 50%;
  background-color: aqua;
  top: 10%;
  left: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  z-index: 3;
}
.start_menu .head {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 600;
}
.start_menu .start_menu_inp {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.start_menu .start_menu_inp input {
  width: 80%;
  height: 50%;
  border: 2px solid transparent;
  border-radius: 2rem;
  margin-top: 1rem;
  display: flex;
  text-align: center;
  font-size: 2rem;
  outline: none;
}

.start_menu .start_menu_btns {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.start_menu .start_menu_btns button {
  padding: 2rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: greenyellow;
  font-size: 2rem;
}
.message {
  width: 100%;
  font-size: 4rem;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  text-align: center;
  top: 20%;
}
@media (max-width: 1000px) {
  .game1 {
    width: 46%;
  }
}
