* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.homepage {
  height: 80vh;
  width: 60%;
  background-color: #227c9d;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1rem;
  align-items: center;
  display: none;
}
.homepage h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  color: #c1ff72;
  word-spacing: 0.25rem;
  letter-spacing: 3px;
}
.homepage .homepageinp {
  margin-top: 1rem;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.homepage .homepageinp .inps {
  font-size: 1.5rem;
  width: 40%;
  padding: 0.5rem 0;
  border: none;
  border-radius: 1rem;
  background-color: #ffcb77;
  text-align: center;
  outline: none;
}
.homepage .homepagetimer {
  display: flex;
  justify-content: center;
  width: 90%;
}

.homepage .homepagetimer .timerp {
  font-size: 2rem;
  color: #c1ff72;
}
.homepage .homepagetimer .timebox {
  display: flex;
  justify-content: center;
  align-content: center;
}
.time {
  margin-left: 3rem;
  background-color: #c1ff72;
  align-content: center;
  padding: 0 1rem;
}
.homepage .rules {
  width: 57%;
}
.homepage .rules .rulespara {
  line-height: 5rem;
  font-size: 2rem;
  flex: 1;
  letter-spacing: 1px;
  color: #c1ff72;
  margin-top: 1rem;
}
.homepage .rules ul {
  height: 70%;
  line-height: 2rem;
  font-size: 1.5rem;
  margin-left: 1.4rem;
  color: #c1ff72;
}
.homepage .startbtn {
  margin-top: 2rem;
}
.homepage .startbtn .homepage-startbtn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 1rem;
  background-color: chocolate;
  color: #c1ff72;
}
/*? Home */
main {
  width: 90%;
  height: 100vh;
  background-color: aquamarine;
  margin: 2px auto;
}
