* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homepage {
  height: 80vh;
  width: 40%;
  background-color: #227c9d;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
}
.homepage h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
  color: #c1ff72;
  word-spacing: 0.25rem;
  letter-spacing: 3px;
}
.homepage .homepageinp {
  margin-top: 1rem;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.homepage .homepageinp .inps {
  font-size: 1.5rem;
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-radius: 1rem;
  background-color: #ffcb77;
  text-align: center;
  outline: none;
}
.homepage .homepagetimer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  margin-top: 1rem;
}

.homepage .homepagetimer .timerp {
  width: 10%;
  font-size: 140%;
  color: #c1ff72;
}
.homepage .homepagetimer .timebox {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: 20%;
}
.hometime {
  background-color: #17c3b2;
  align-content: center;
  cursor: pointer;
  border-radius: 1rem;
  height: 2rem;
  width: 4rem;
  text-align: center;
}
.homepage .startbtn {
  margin-top: 2rem;
}
.homepage .startbtn .homepage-startbtn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 1rem;
  background-color: chocolate;
  color: #c1ff72;
}
.timeclick {
  border: 3px solid orange;
}
/*? Home end */
.keyToStart {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyStart {
  background-color: grey;
  height: 30%;
  width: 40%;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  color: white;
  border-radius: 1rem;
}
.gameover {
  position: absolute;
  background-color: lightblue;
  font-size: 4rem;
  top: 35%;
}
main {
  width: 100%;
  height: 100vh;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .gamesection {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
main .gamesection .mainplayer1 {
  height: 100%;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 3rem;
}
main .gamesection .centerbox {
  width: 10%;
  background-color: #c1ff72;
  display: flex;
}
.mainbox {
  height: 42%;
  width: 37%;
  background-color: #919191;
  border-radius: 2rem;
  border: 1rem solid black;
  align-content: center;
  text-align: center;
  font-size: 2rem;
  color: white;
}
main .gamesection .centerbox .box {
  height: 100%;
  width: 48%;
  background-color: #ffcb77;
}
.centerbox .line {
  background-color: black;
  width: 4%;
}
.centerbox .box1,
.box2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  align-items: end;
}
.player1_centerbox {
  height: 5%;
  width: 100%;
  border: 2px solid black;
}
.player2_centerbox {
  height: 5%;
  width: 100%;
  border: 2px solid black;
}
main .timeANDhearts {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
}
.timeANDhearts .hearts {
  width: 20%;
  height: 80%;
  align-self: center;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  color: red;
}
.timeANDhearts .hearts .heartone {
  margin-left: 3rem;
}
.timeANDhearts .hearts .hearttwo {
  margin-right: 3rem;
}
.timeANDhearts .time {
  width: 9.5rem;
  height: 90%;
  text-align: center;
  align-content: center;
  font-size: 2rem;
  font-weight: 600;
  border: 5px solid black;
}
main .footer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .name {
  width: 30%;
  background-color: #ffcb77;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .name p {
  letter-spacing: 0.2rem;
}

.footer .centericon button {
  padding: 0.9rem 1.9rem;
  border: none;
  background-color: #fe6d73;
  color: white;
  border-radius: 1rem;
  letter-spacing: 0.2rem;
  margin: 0 6rem;
}

/*?Main end  */
.result {
  height: 80vh;
  width: 60%;
  background-color: #0f606b;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  color: #adf1d2;
}
.result h1 {
  text-align: center;
  height: fit-content;
  margin-top: 1rem;
  font-size: 4rem;
  letter-spacing: 0.25rem;
}
.result .playerres {
  height: 35%;
  display: flex;
  width: 100%;
}
.result .playerres .resplayer1,
.resplayer2 {
  width: 50%;
  text-align: center;
}
.resplayer2 {
  flex: 1;
}
.resplayer1 .solved1,
.resplayer2 .solved1 {
  font-size: 3rem;
  margin-top: 2rem;
}

.resplayer1 .solved,
.resplayer2 .solved {
  margin-top: 0.9rem;
  font-size: 2rem;
}
.result .playerhearts {
  height: 10%;
  width: 100%;
  display: flex;
  font-size: 2rem;
  color: #fe6d73;
  display: flex;
  justify-content: center;
}
.playerhearts .reshearts {
  width: 50%;
  letter-spacing: 0.25rem;
  text-align: center;
}
.foot {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home {
  padding: 0.9rem 2rem;
  background-color: #fe6d73;
  border: none;
  border-radius: 2rem;
  color: white;
  letter-spacing: 0.2rem;
}
.home {
  padding: 0.9rem 2.5rem;
}

.flashgreen {
  background-color: lightgreen;
}
.flashred {
  background-color: red;
}
.selected {
  border: 3px solid yellow;
}
.blur {
  filter: blur(5px);
}
@media (max-width: 600px) {
  .homepage {
    width: 80%;
  }
  .hometime {
    width: 30%;
    font-size: 0.75rem;
  }
}
.DisplayNone {
  display: none;
}
@media (max-width: 300px) {
  .homepage {
    width: 96%;
  }
  .homepage h1 {
    font-size: 1.5rem;
  }
  .timerp {
    font-size: 1rem !important;
  }
}
/*! homepage queries  */
@media (max-width: 1000px) {
  main .gamsection .mainplayer1 {
    gap: 2rem;
  }
  .timeANDhearts .time {
    font-size: 1.5rem;
  }
  .homepage .startbtn .homepage-startbtn {
    padding: 0.75rem;
    margin-top: -1.25rem;
  }
  .timeANDhearts .hearts .heartone {
    margin-left: 2rem;
  }
}
@media (max-width: 790px) {
  main .gamesection .mainplayer1 {
    gap: 1rem;
  }
  .mainbox {
    width: 45%;
  }
  .timeANDhearts .hearts .heartone {
    margin-left: 1rem;
  }
  .timeANDhearts .hearts .hearttwo {
    margin-right: 1rem;
  }
  .timeANDhearts .time {
    color: white;
  }
}
@media (max-width: 450px) {
  .mainbox {
    border: 4px solid black;
  }
  .timeANDhearts .hearts .heartone {
    font-size: 1rem;
  }
  .timeANDhearts .hearts .hearttwo {
    font-size: 1rem;
  }
  .timeANDhearts .time {
    width: 5rem;
  }
  .footer .centericon button {
    padding: 0.5rem 1rem;
    margin: 0 2rem;
  }
  .footer .name p {
    letter-spacing: 0.05rem;
  }
}
@media (max-width: 230px) {
  .homepage {
    width: 50%;
  }
}
