<footer>
  <div class="f-info">
    <div class="f-infosocial">
      <i class="fa-brands fa-facebook"></i
      ><i class="fa-brands fa-square-instagram"></i
      ><i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="mid">&copy;WanderLust private limited</div>
    <div class="f-info-links">
      <a class="nav-link" href="/privacy">privacy</a>
      <a class="nav-link" href="/terms">Terms</a>
    </div>
  </div>
</footer>
